# Specify the path of @eslamdevui/ui locally
NUXT_UI_PRO_PATH=
# Production token for @eslamdevui/ui, purchase on https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Used when pre-rendering the docs for dynamic OG images
NUXT_PUBLIC_SITE_URL=
# Used to fetch `nuxt/ui` docs content
NUXT_GITHUB_TOKEN=
